<div id="hnl-accordion" class="accordion panel inverse" data-options="{'allowOnePane': true, rerouteOnLinkClick: false}">
  <div style="margin: auto; width: 100%; padding: 8px;">
    <h1 style="font-family: Calibri; color: white; font-size: 25px;">Design Library</h1>
  </div>
  <div class="accordion-header">
    <a (click)="setMainTitle('Icons', 'icon')">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        width="18px" height="18px" viewBox="0 0 18 18" enable-background="new 0 0 18 18" xml:space="preserve">
      <path fill-rule="evenodd" clip-rule="evenodd" fill="#ABAEB7" d="M15.414,3.413l-2.828-2.827C12.211,0.211,11.702,0,11.171,0H4.5
        C3.122,0,2,1.12,2,2.5v13C2,16.879,3.122,18,4.5,18h9c1.378,0,2.5-1.121,2.5-2.5V4.827C16,4.298,15.789,3.788,15.414,3.413z
        M14,15.5c0,0.275-0.224,0.5-0.5,0.5h-9C4.224,16,4,15.775,4,15.5v-13C4,2.224,4.224,2,4.5,2H10v3c0,0.55,0.45,1,1,1h3V15.5z M8,4.5
        v1C8,5.776,7.776,6,7.5,6h-1C6.224,6,6,5.776,6,5.5v-1C6,4.224,6.224,4,6.5,4h1C7.776,4,8,4.224,8,4.5z M8,8.5v1
        C8,9.776,7.776,10,7.5,10h-1C6.224,10,6,9.776,6,9.5v-1C6,8.224,6.224,8,6.5,8h1C7.776,8,8,8.224,8,8.5z M10.5,8h1
        C11.776,8,12,8.224,12,8.5v1c0,0.276-0.224,0.5-0.5,0.5h-1C10.224,10,10,9.776,10,9.5v-1C10,8.224,10.224,8,10.5,8z M8,12.5v1
        C8,13.776,7.776,14,7.5,14h-1C6.224,14,6,13.776,6,13.5v-1C6,12.224,6.224,12,6.5,12h1C7.776,12,8,12.224,8,12.5z M12,12.5v1
        c0,0.276-0.224,0.5-0.5,0.5h-1c-0.276,0-0.5-0.224-0.5-0.5v-1c0-0.276,0.224-0.5,0.5-0.5h1C11.776,12,12,12.224,12,12.5z"/>
      </svg>
      <span>Icons</span>
    </a>
  </div>
  <div class="accordion-pane">
    <div class="accordion-header list-item" *ngFor="let type of types">
      <a (click)="filterByType(type.typeName)"><span>{{ capitalizeFirstLetter(type.typeName) }}</span></a>
    </div>
  </div>

  <div class="accordion-header">
    <a (click)="setMainTitle('Persona', 'persona')">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        width="18px" height="18px" viewBox="0 0 18 18" enable-background="new 0 0 18 18" xml:space="preserve">
      <path fill="#ABAEB7" d="M5.064,3.857C5.064,1.727,6.791,0,8.921,0c2.131,0,3.857,1.727,3.857,3.857c0,2.131-1.727,3.857-3.857,3.857
        C6.791,7.714,5.064,5.988,5.064,3.857z M17.998,16.54C17.302,12.264,13.474,9,9,9c-4.473,0-8.264,3.264-8.961,7.54
        C-0.086,17.309,0.539,18,1.318,18h15.4C17.497,18,18.124,17.309,17.998,16.54z"/>
      </svg>
      <span>Persona</span>
    </a>
  </div>

  <div class="accordion-header">
    <a (click)="setMainTitle('Code', 'code')">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        width="18px" height="18px" viewBox="0 0 18 18" enable-background="new 0 0 18 18" xml:space="preserve">
      <path fill="#ABAEB7" d="M5.707,5.707L2.414,9l3.293,3.293c0.391,0.391,0.391,1.023,0,1.414C5.512,13.902,5.256,14,5,14
        s-0.512-0.098-0.707-0.293l-4-4c-0.391-0.391-0.391-1.023,0-1.414l4-4c0.391-0.391,1.023-0.391,1.414,0S6.098,5.316,5.707,5.707z
        M17.707,8.293l-4-4c-0.391-0.391-1.023-0.391-1.414,0s-0.391,1.023,0,1.414L15.586,9l-3.293,3.293
        c-0.391,0.391-0.391,1.023,0,1.414C12.488,13.902,12.744,14,13,14s0.512-0.098,0.707-0.293l4-4
        C18.098,9.316,18.098,8.684,17.707,8.293z M10.164,2.014C9.621,1.913,9.103,2.29,9.014,2.836l-2,12
        c-0.091,0.544,0.277,1.061,0.822,1.15C7.892,15.996,7.946,16,8.001,16c0.48,0,0.904-0.347,0.985-0.836l2-12
        C11.077,2.62,10.709,2.104,10.164,2.014z"/>
      </svg>
      <span>Code</span>
    </a>
  </div>

  <div class="accordion-header">
    <a (click)="setMainTitle('Brand', 'brand')">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        width="18px" height="18px" viewBox="0 0 18 18" enable-background="new 0 0 18 18" xml:space="preserve">
      <path fill="#ABAEB7" d="M18,3c0,0.552-0.447,1-1,1h-1v9c0,1.104-0.896,2-2,2h-1.703l1.293,1.292c0.391,0.392,0.391,1.024,0,1.415
        s-1.023,0.391-1.414,0L9.469,15H8.395l-2.707,2.707c-0.391,0.391-1.024,0.391-1.415,0s-0.391-1.023,0-1.414L5.566,15H4
        c-1.104,0-2-0.896-2-2V4H1C0.448,4,0,3.552,0,3s0.448-1,1-1h3h4V1c0-0.552,0.448-1,1-1s1,0.448,1,1v1h4h3C17.553,2,18,2.448,18,3z"
        />
      </svg>
      <span>Brand</span>
    </a>
  </div>
  <div class="accordion-pane">
    <div class="accordion-header list-item"><a click=""><span>Marketo Marketing Support</span></a></div>
    <div class="accordion-header list-item"><a click=""><span>Internal Email Marketing</span></a></div>
    <div class="accordion-header list-item"><a click=""><span>Website Graphics</span></a></div>
    <div class="accordion-header list-item"><a click=""><span>Social Media Images</span></a></div>
    <div class="accordion-header list-item"><a click=""><span>PowerPoint Images</span></a></div>
    <div class="accordion-header list-item"><a click=""><span>Event Resources</span></a></div>
    <div class="accordion-header list-item"><a click=""><span>Brand Campaigns</span></a></div>
    <div class="accordion-header list-item"><a click=""><span>HTML Templates</span></a></div>
    <div class="accordion-header list-item"><a click=""><span>Support</span></a></div>
  </div>
</div>

<div class="branding">
  <svg class="icon" viewBox="0 0 34 34" focusable="false" aria-hidden="true" role="presentation">
    <use xlink:href="#icon-logo"></use>
  </svg>
</div>
