<div class="twelve columns" style="margin-top: 20px;">
  <div class='admin-border' id='informationBorder'>
    <h1>Icon Information</h1>
    <div class='admin-block-style'>
      <div class="admin-icon-viewer">
        <img [src]='getIconDisplay()' />
      </div>
    </div>
    <div *ngIf="adminMode === 'add'" class='admin-block-style'>
      <label for="iconInfoName" class="required">Icon Name</label>
      <input style='margin-bottom: 25px;' soho-input type="text" class="form-control" id="iconInfoName" name="iconInfoName" [readonly]="defHasName" [(ngModel)]="iconInfoName" />

      <label for="iconInfoType" class="required">Icon Type</label>
      <select soho-dropdown id="iconInfoType" name="iconInfoType" [disabled]="defHasType" [(ngModel)]="iconInfoType">
        <option *ngFor="let type of types" [value]="type.typeId">{{ capitalizeFirstLetter(type.typeName) }}</option>
      </select>
    </div>

    <div *ngIf="adminMode === 'edit'" class='admin-block-style'>
      <label>Icon Name</label>
      <label style="font-size:14px; font-weight: bold; color:black;">{{ iconInfoName }}</label>

      <label>Icon Type</label>
      <label style="font-size:14px; font-weight: bold; color:black;">{{ iconInfoType }}</label>
    </div>
  </div>

  <div class='admin-border' id='propertyBorder'>
    <h1>Icon Properties</h1>
    <div>
      <label>Upload icon images and select the file types and corresponding dimensions. Once submitted, file types and dimensions selected will be read-only and cannot be updated.
        <br> If there are file types and dimensions that doesn't exist or want to be updated, please contact the site administrator
        (<a href="mailto:jamesallen.tadique@infor.com">jamesallen.tadique@infor.com</a>)</label>
    </div>
    <div class='admin-block-style'>
      <div>
        <label for="fileupload1" [ngClass]="adminMode === 'add' ? 'required' : ''">Icon File 1</label>
        <input type="file" class="fileupload1" id="fileupload1" name="fileupload1"/>
      </div>
      <div *ngIf="iconImage2">
        <label for="fileupload1">Icon File 2</label>
        <input type="file" class="fileupload2" id="fileupload2" name="fileupload2"/>
      </div>
      <div *ngIf="iconImage3">
        <label for="fileupload1">Icon File 3</label>
        <input type="file" class="fileupload3" id="fileupload3" name="fileupload3"/>
      </div>
      <div *ngIf="iconImage4">
        <label for="fileupload1">Icon File 4</label>
        <input type="file" class="fileupload4" id="fileupload4" name="fileupload4"/>
      </div>
      <div style='text-align:right;'>
        <button class='link-button' [disabled]="disableAddMore" (click)="addMoreIconImage()">Add more files</button>
      </div>
    </div>
    <div class='admin-block-style'>
      <div>
        <label [ngClass]="adminMode === 'add' ? 'required' : ''">File Types</label>
      </div>
      <div>
        <input soho-checkbox type="checkbox" [disabled]="defHasSvg" [attr.id]="idSvg" name="svg" [(ngModel)]="model.idSvgValue">
        <label soho-label [attr.for]="idSvg" [forCheckBox]="true">SVG</label>
      </div>
      <div>
        <input soho-checkbox type="checkbox" (click)="validatePngFormats()" [disabled]="defHasPng" [attr.id]="idPng" name="png" [(ngModel)]="model.idPngValue">
        <label soho-label [attr.for]="idPng" [forCheckBox]="true">PNG</label>
      </div>
    </div>
    <div class='admin-block-style limit-width'>
      <div>
        <label [ngClass]="adminMode === 'add' ? 'required' : ''">File Dimensions (in px)</label>
      </div>
      <div class='admin-mini-block-style'>
          <input soho-checkbox type="checkbox" [disabled]="hasPng || defHas18" [attr.id]="id18" name="18" [(ngModel)]="model.id18Value">
          <label soho-label [attr.for]="id18" [forCheckBox]="true">18x18</label>
      </div>
      <div class='admin-mini-block-style'>
        <input soho-checkbox type="checkbox" [disabled]="hasPng || defHas57" [attr.id]="id57" name="57" [(ngModel)]="model.id57Value">
        <label soho-label [attr.for]="id57" [forCheckBox]="true">57x57</label>
      </div>
      <div class='admin-mini-block-style'>
        <input soho-checkbox type="checkbox" [disabled]="hasPng || defHas114" [attr.id]="id114" name="114" [(ngModel)]="model.id114Value">
        <label soho-label [attr.for]="id114" [forCheckBox]="true">114x114</label>
      </div>
      <div class='admin-mini-block-style'>
        <input soho-checkbox type="checkbox" [disabled]="hasPng || defHas22" [attr.id]="id22" name="22" [(ngModel)]="model.id22Value">
        <label soho-label [attr.for]="id22" [forCheckBox]="true">22x22</label>
      </div>
      <div class='admin-mini-block-style'>
        <input soho-checkbox type="checkbox" [disabled]="hasPng || defHas58" [attr.id]="id58" name="58" [(ngModel)]="model.id58Value">
        <label soho-label [attr.for]="id58" [forCheckBox]="true">58x58</label>
      </div>
      <div class='admin-mini-block-style'>
        <input soho-checkbox type="checkbox" [disabled]="hasPng || defHas120" [attr.id]="id120" name="120" [(ngModel)]="model.id120Value">
        <label soho-label [attr.for]="id120" [forCheckBox]="true">120x120</label>
      </div>
      <div class='admin-mini-block-style'>
        <input soho-checkbox type="checkbox" [disabled]="hasPng || defHas29" [attr.id]="id29" name="29" [(ngModel)]="model.id29Value">
        <label soho-label [attr.for]="id29" [forCheckBox]="true">29x29</label>
      </div>
      <div class='admin-mini-block-style'>
        <input soho-checkbox type="checkbox" [disabled]="hasPng || defHas72" [attr.id]="id72" name="72" [(ngModel)]="model.id72Value">
        <label soho-label [attr.for]="id72" [forCheckBox]="true">72x72</label>
      </div>
      <div class='admin-mini-block-style'>
        <input soho-checkbox type="checkbox" [disabled]="hasPng || defHas144" [attr.id]="id144" name="144" [(ngModel)]="model.id144Value">
        <label soho-label [attr.for]="id144" [forCheckBox]="true">144x144</label>
      </div>
      <div class='admin-mini-block-style'>
        <input soho-checkbox type="checkbox" [disabled]="hasPng || defHas40" [attr.id]="id40" name="40" [(ngModel)]="model.id40Value">
        <label soho-label [attr.for]="id40" [forCheckBox]="true">40x40</label>
      </div>
      <div class='admin-mini-block-style'>
        <input soho-checkbox type="checkbox" [disabled]="hasPng || defHas76" [attr.id]="id76" name="76" [(ngModel)]="model.id76Value">
        <label soho-label [attr.for]="id76" [forCheckBox]="true">76x76</label>
      </div>
      <div class='admin-mini-block-style'>
        <input soho-checkbox type="checkbox" [disabled]="hasPng || defHas152" [attr.id]="id152" name="152" [(ngModel)]="model.id152Value">
        <label soho-label [attr.for]="id152" [forCheckBox]="true">152x152</label>
      </div>
      <div class='admin-mini-block-style'>
        <input soho-checkbox type="checkbox" [disabled]="hasPng || defHas48" [attr.id]="id48" name="48" [(ngModel)]="model.id48Value">
        <label soho-label [attr.for]="id48" [forCheckBox]="true">48x48</label>
      </div>
      <div class='admin-mini-block-style'>
        <input soho-checkbox type="checkbox" [disabled]="hasPng || defHas80" [attr.id]="id80" name="80" [(ngModel)]="model.id80Value">
        <label soho-label [attr.for]="id80" [forCheckBox]="true">80x80</label>
      </div>
      <div class='admin-mini-block-style'>
        <input soho-checkbox type="checkbox" [disabled]="hasPng || defHas512" [attr.id]="id512" name="512" [(ngModel)]="model.id512Value">
        <label soho-label [attr.for]="id512" [forCheckBox]="true">512x512</label>
      </div>
      <div class='admin-mini-block-style'>
        <input soho-checkbox type="checkbox" [disabled]="hasPng || defHas50" [attr.id]="id50" name="50" [(ngModel)]="model.id50Value">
        <label soho-label [attr.for]="id50" [forCheckBox]="true">50x50</label>
      </div>
      <div class='admin-mini-block-style' style='padding: 0px 14px 0px 0px;'>
        <input soho-checkbox type="checkbox" [disabled]="hasPng || defHas100" [attr.id]="id100" name="100" [(ngModel)]="model.id100Value">
        <label soho-label [attr.for]="id100" [forCheckBox]="true">100x100</label>
      </div>
      <div class='admin-mini-block-style'>
        <input soho-checkbox type="checkbox" [disabled]="hasPng || defHas1024" [attr.id]="id1024" name="1024" [(ngModel)]="model.id1024Value">
        <label soho-label [attr.for]="id1024" [forCheckBox]="true">1024x1024</label>
      </div>
    </div>
  </div>
  <div class='admin-border' id='productBorder'>
    <h1>Product Association</h1>
    <label>Tag icons that are associated to your product. This can easily help you download all icons used in your product.
      <br> If there are products that need to be romoved or updated, please contact the site administrator
      (<a href="mailto:jamesallen.tadique@infor.com">jamesallen.tadique@infor.com</a>)</label>

    <div class='admin-block-style'>
      <label for="iconInfoProduct">Your Product</label>
      <select soho-dropdown id="iconInfoProduct" multiple [disabled]="model.idNoProductValue" name="iconInfoProduct" [(ngModel)]="iconInfoProduct">
        <option *ngFor="let product of products" [value]="product.productId">{{ product.productName }}</option>
      </select>

      <div>
        <input soho-checkbox type="checkbox" [attr.id]="idNoProduct" name="noProduct" [(ngModel)]="model.idNoProductValue">
        <label soho-label [attr.for]="idNoProduct" [forCheckBox]="true">Can't find your product on the list?</label>
      </div>

      <div *ngIf="model.idNoProductValue">
        <label for="iconProductField">Other Product</label>
        <input soho-input type="text" class="form-control" id="iconProductField" placeholder="If product is not in the list, state it here." name="iconProductField" [(ngModel)]="iconProductField" />
      </div>
    </div>
    <div class='admin-block-style' *ngIf="defHasProduct">
      <label>Products currently using this icon.</label>
        <ul>
          <li *ngFor="let product of productList">
              {{ product }}
          </li>
        </ul>
    </div>
  </div>
  <div class='admin-border' id='tagBorder'>
    <h1>Icon Tags</h1>
    <label>Indicate tags for this icon. Tag help describe icons that allows it to be searched in the library.
      <br> If there are tasg that need to be removed, please contact the site administrator
      (<a href="mailto:jamesallen.tadique@infor.com">jamesallen.tadique@infor.com</a>)</label>
    <div class='admin-block-style'>
      <label for="iconTagField" [ngClass]="adminMode === 'add' ? 'required' : ''">Tag</label>
      <input soho-input type="text" class="form-control" id="iconTagField" placeholder="Use comma to separate tags. (Ex. tag1,tag2)" name="iconTagField" [(ngModel)]="iconTagField" />
    </div>
    <div class='admin-block-style'>
      <label>Current tags for this icon:</label>
      <div style="position: relative; margin-top: 10px; margin-bottom: 10px;">
        <span class="tag active" style="margin-right: 5px;" *ngFor="let tag of tagList">
          {{ tag }}
        </span>
      </div>
    </div>
  </div>
  <div class='admin-border'>
    <div class='admin-mini-block-style'>
      <button soho-button (click)="goBack()">Cancel</button>
    </div>
    <div class='admin-mini-block-style'>
      <button soho-button="primary" [disabled]="getSubmitActivation()" (click)="saveIcon()">Submit</button>
    </div>
  </div>

  <!--
  <div class="field" style="padding-top:30px;">
    <label for="iconPropertyPrefix" class="required">Prefix</label>
    <input soho-input type="text" class="form-control" maxlength="1" id="iconPropertyPrefix" name="iconPropertyPrefix" [(ngModel)]="iconPropertyPrefix" />
  </div>
-->
<div id="modal-product-validation" style="display: none;">
  <div class="field">
    <label>Product name is already existing.</label>
  </div>
</div>