<div class="scrollable-flex no-scroll" style="height: 100%;">
  <app-drop-panel></app-drop-panel>
  <div class="scrollable-flex-content" style="position:relative;">
    <div class="page-container builder">
      <div id="maincontent" class="main scrollable builder-pane">
        <div class="builder-content no-scroll">
          <div class="builder-actions">
            <div style="height: 72px;padding: 0 20px;">
              <div class="searchfield-wrapper" style="text-align:center;width:100%;">
                <div style="display: inline-block;width:40%;">
                  <input soho-searchfield id="searchfield" name="searchfield" class="searchfield input-lg" data-options= "{'clearable': 'true'}" placeholder="Search icons, categories or products" (keyup)="onSearchKeyup($event, $event.target.value)" />

                </div>
                <button type="button" class="btn-secondary go-button" (click)="searchIcons()">Go</button>
              </div>
              <!-- <div class="l-pull-right">
                <button class="hyperlink" (click)="selectAllIcon()" [disabled]="!isIconPopulated() || filterType === 'Search results for badge'">{{ selectText }}</button>
              </div> -->

          </div>

            <div class="scrollable-y nc">
              <div class="builder-actions-content">
                <div *ngIf="isAllowGridView()" style="height:100%;">
                  <div class="ui-center" *ngIf="isNoResult">
                    <h1>No result found for "{{ searchKey }}"</h1>
                    <a href="https://jira/secure/RapidBoard.jspa?rapidView=1346&projectKey=SOHO" class="hyperlink" target="_blank">Request a New Icon</a>
                  </div>
                  <div class="result-found" *ngIf="!isNoResult && isSearch"><h1>{{ filterCount }} results found for "{{ searchKey }}"</h1></div>
                  <div *ngFor="let iconCat of icons">
                    <div class="header-wrapper">
                      <h3 *ngIf="isAllowShowCategory(iconCat)">
                        {{ capitalizeFirstLetter(iconCat.typeName) }}
                      </h3>
                      <div class="l-pull-right" *ngIf="isAllowShowCategory(iconCat) && iconCat.typeName !== 'badge'">
                        <!-- <button class="hyperlink" (click)="selectAllIcon(iconCat)">{{ iconCat.selectText }}</button> -->
                        <input soho-checkbox
                          type="checkbox"
                          [attr.id]="'select-all-' + iconCat.typeId"

                          (change)="selectAllIcon(iconCat)"
                          name="checkbox"
                        />
                        <label soho-label
                          [attr.for]="'select-all-' + iconCat.typeId"
                          [forCheckBox]="true">
                            <span>{{ iconCat.selectText }}</span>
                        </label>
                      </div>
                    </div>
                    <div *ngIf="isAllowShowCategory(iconCat) && iconCat.typeName === 'badge'">
                      <p>Badges are created via code and are not available for download. Please click link below for specs.</p>
                      <a href="https://soho.infor.com/index.php?p=component/badges" class="hyperlink" target="_blank">https://soho.infor.com/index.php?p=component/badges</a>
                    </div>
                    <ul class="small-block-grid-5">
                      <li class="icon-item" *ngFor="let icon of iconCat.icons" (click)="selectIcon($event, icon)">
                      <a class="ui-item" [attr.id]="'ii-' + icon.iconId" [ngClass]="{'is-selected': icon.isSelected}" (mouseenter)="iconMouseEnter($event, icon)" (mouseleave)="iconMouseLeave($event, icon)">
                        <div [hidden]="!icon.visible">
                          <input soho-checkbox
                            *ngIf="icon && icon.type && icon.type.typeName !== 'badge'"
                            type="checkbox"
                            [attr.id]="'cb-' + icon.iconId"
                            [checked]="icon.isSelected"
                            (change)="selectMultipleIcon($event, icon, iconCat);"
                            name="checkbox"
                          />
                          <label soho-label
                            [attr.for]="'cb-' + icon.iconId"
                            [forCheckBox]="true">
                              <span class="audible">Checked</span>
                          </label>
                        </div>
                        <img [src]="getIconSrc(icon)" [ngClass]="{
                          'size26':icon.type.typeSize === '14x14' || icon.type.typeSize === '18x18',
                          'size65':icon.type.typeSize === '60x60',
                          'size80':icon.type.typeSize === '100x100'
                        }">
                        <p class="icon-name-small ng-binding">{{ icon.iconName }}</p>

                      </a>
                      </li>
                    </ul>
                  <div *ngIf="isAllowShowCategory(iconCat)" class="divider"></div>
                  </div>
                </div>
              </div>

              <div class="ui-footer">
                <div *ngIf="!isNoResult">
                  <p>Didn't find what you're looking for?</p>
                  <a href="https://jira/secure/RapidBoard.jspa?rapidView=1346&projectKey=SOHO" class="hyperlink" target="_blank">Request a New Icon</a>
                </div>
              </div>
            </div>
          </div>

          <div class="builder-sidebar">
            <div class="cart-header builder-sidebar-header">
              <div class="ui-viewer">
                <img id="sidebar-img" [class]="selectedIcon.type.typeName !== 'application' && selectedIcon.type.typeName !== 'ming.le' ? 'width18' : ''" [src]="getSidePanelIconSrc(selectedIcon)" download="img.png" *ngIf="selectedIcon && selectedIcon.type && selectedIcon.type.typeName !== 'badge'">
                <p *ngIf="selectedIcon && selectedIcon.type && selectedIcon.type.typeName === 'badge'">No Preview Available</p>
                <button *ngIf="accessLevel === '0' || accessLevel === '1'" type="button" class="btn-secondary" (click)=goToEditIconView(selectedIcon)>Edit</button>
              </div>
              <p class="ui-icon-name" *ngIf="selectedIcon && selectedIcon.type && selectedIcon.type.typeName !== 'badge'">{{ selectedIcon ? selectedIcon.iconName : "" }}</p>
            </div>
            <div class="cart-contents builder-sidebar-content scrollable">

              <div *ngIf="selectedIcon && selectedIcon.type && selectedIcon.type.typeName !== 'badge'">
                <div class="row" *ngIf="selectedIcon">
                  <div class="twelve columns">
                    <h2 class="fieldset-title">Tags:</h2>
                    <div class="tag-wrapper">
                      <span *ngFor="let tag of selectedIcon.tags">
                        {{ tag.tagName }}
                      </span>
                    </div>
                  </div>
                </div>
                <div class="row" *ngIf="selectedIcon">
                  <div class="twelve columns">
                    <h2 class="fieldset-title">Available In:</h2>
                    <span class="ui-format" *ngFor="let dFormat of selectedIcon.displayFormats">
                      {{dFormat.format}}
                    </span>
                  </div>
                </div>
                <div class="row" *ngIf="selectedIcon">
                  <div class="twelve columns">
                    <h2 class="fieldset-title">Products:</h2>
                    <ul class="ui-list">
                      <li *ngFor="let product of selectedIcon.products">
                        <button class="hyperlink product-cap-trigger" (click)="showProductIcons(product.productName)">{{ product.productName }}</button>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="row" *ngIf="selectedIcon && selectedIcon.type && selectedIcon.type.typeName === 'badge'">
                <div class="twelve columns">
                  <p>Badges are created via code and are not available for download. Please click link below for specs.</p>

                  <p>
                    <a href="https://soho.infor.com/index.php?p=component/badges" class="hyperlink" target="_blank">https://soho.infor.com/index.php?p=component/badges</a>
                  </p>
                </div>
              </div>
            </div>
            <!--div class="cart-controls builder-sidebar-footer">
              <div *ngIf="selectedIcon && selectedIcon.type && selectedIcon.type.typeName !== 'badge'">
                <button type="button" class="btn-secondary" style="width: calc(100% - 4px); margin-bottom: 10px; visibility: hidden;" (click)="copySVGCode(selectedIcon)" [disabled]="true">
                  Copy SVG Code
                </button><br>
                <button type="button" class="btn-primary" style="width: calc(100% - 4px);" (click)="showProductOwner(selectedIcon)" [disabled]="(selectedIcon && selectedIcon.type.typeName === 'badge') || !isAllowSingleDownload">
                  Download Icon
                </button>
              </div>

              <a id="sidebar-download-link"></a>
            </div-->
          </div>
          <app-soho-engine></app-soho-engine>
        </div>
      </div>
    </div>
  </div>
