<soho-expandable-area id="drop-expandable-area" class="scrollable-flex-header" *ngIf="selectedIcons.length > 0">
  <soho-expandable-pane>
    <div class="icon-placeholder" *ngFor="let icon of selectedIcons">
      <button class="ui-close-btn" (click)="unselectIcon(icon.iconId)"></button>
      <img [src]="getIconSrc(icon)" class="width18">
      <p class="icon-name-small">{{ icon.iconName }}</p>
    </div>
  </soho-expandable-pane>
  <soho-expandable-footer>

    <soho-toolbar>
      <soho-toolbar-title>
        <span soho-toolbar-section-title>{{ selectedIcons.length }} Selected</span>
        <button soho-button="tertiary" [expandableExpander]="'true'" (click)='toggleLabel()'>
          <span>{{ dropPanelLabel }}</span>
        </button>
      </soho-toolbar-title>
      <soho-toolbar-button-set>
        <button soho-button="primary" (click)="showProductOwner()">
          <span>Download</span>
        </button>
        <button soho-button="tertiary" (click)="clearAll()">
          <span>Clear All</span>
        </button>
      </soho-toolbar-button-set>
    </soho-toolbar>
    <a id="sidebar-download-link"></a>
  </soho-expandable-footer>
</soho-expandable-area>