<soho-header>

  <soho-toolbar hasMoreButton="true">

    <soho-toolbar-title>
      <button soho-nav-button>Show Navigation</button>
      <h1>
        <span soho-page-title>{{ mainTitle }}</span>
      </h1>
    </soho-toolbar-title>

    <soho-toolbar-button-set>
      <!--
      <input soho-toolbar-searchfield
        [collapsible]="true"
        [clearable]="true"
        (keyup)="searchIcons()"
        [value]="searchKey" (input)="searchKey = $event.target.value"
      /> -->
      <!-- <form action="https://jira/secure/RapidBoard.jspa?rapidView=1346&projectKey=SOHO" *ngIf="!accessLevel">
        <button type="submit" class="btn-primary">Request New Icon</button>
      </form> -->
      <button *ngIf="!accessLevel" class="btn-primary" onclick="window.location.href='https://jira/secure/RapidBoard.jspa?rapidView=1346&projectKey=SOHO'">Request New Icon</button>

      <button *ngIf="accessLevel === '0' && accessPage === 'admin'" type="button" class="btn-secondary" (click)=goToAddIconView()>Add Icon</button>
    </soho-toolbar-button-set>


    <!--
    <soho-toolbar-more-button>
      <ul class="popupmenu is-selectable">
        <li class="heading" role="presentation">Theme</li>
        <li class="is-selectable is-checked"><a href="#" data-theme="grey-theme">Light</a></li>
        <li class="is-selectable"><a href="#" data-theme="dark-theme">Dark</a></li>
        <li class="is-selectable"><a href="#" data-theme="high-contrast-theme">High Contrast</a></li>
        <li class="separator"></li>
        <li class="heading" role="presentation">Personalization</li>
        <li class="is-selectable is-checked"><a data-rgbcolor="" href="#">Default</a></li>
        <li class="is-selectable"><a data-rgbcolor="#368AC0" href="#">Azure</a></li>
        <li class="is-selectable"><a data-rgbcolor="#EFA836" href="#">Amber</a></li>
        <li class="is-selectable"><a data-rgbcolor="#9279A6" href="#">Amethyst</a></li>
        <li class="is-selectable"><a data-rgbcolor="#579E95" href="#">Turqoise</a></li>
        <li class="is-selectable"><a data-rgbcolor="#76B051" href="#">Emerald</a></li>
        <li class="is-selectable"><a data-rgbcolor="#5C5C5C" href="#">Graphite</a></li>
      </ul>
    </soho-toolbar-more-button> -->

  </soho-toolbar>

</soho-header>
