<soho-icons></soho-icons>
<soho-icons-ext></soho-icons-ext>

<nav soho-application-menu class="application-menu is-open is-personalizable" [openOnLarge]="true">
  <app-application-menu></app-application-menu>
</nav>
<div class="page-container">
  <app-header></app-header>
  <div id="maincontent" class="page-container scrollable" role="main">
    <router-outlet></router-outlet>
  </div>
</div>

<div soho-personalize></div>

<!-- <app-soho-engine></app-soho-engine> -->