<div style="width: 900px;
      height: 300px;
      position: absolute;
      left: 35%;
      top: 50%; 
      margin-left: -150px;
      margin-top: -150px;">
    <div style="width: 150px; padding: 0 20px 0 0; float: left;">
        <img style="width: 100%;" [src]="under_construction"/>
    </div>
    <div style="float: left; padding-top: 50px; padding-left: 25px;">
        <h1 style="font-size: 50px; font-family: Adobe Fan Heiti Std -WEBKIT-BODY;">This page is under construction.</h1>
    </div>
</div>