<div id="modal-product-owner" style="display: none;">
  <div class="field">
    <label for="mpo-email-address" class="required">Email Address</label>
    <input type="text" id="mpo-email-address" name="email-address" placeholder="name.lastname@infor.com" [value]="prodEmail" (input)="prodEmail = $event.target.value; checkModalFields();" data-validate="required email" (change)="checkModalFields()" />
  </div>

  <div class="field">
    <label for="mpo-product-dd" class="required">Product</label>
    <select soho-dropdown soho-busyindicator id="mpo-product-dd" class="required" name="product-dd" [disabled]="isNewProduct" [value]="prodId" (change)="prodId = $event.target.value; checkModalFields();" data-validate="required">
      <option value="">Select</option>
      <option *ngFor="let prod of ProductMasterList" [value]="prod.productId">{{prod.productName}}</option>
    </select>
  </div>

  <div class="field">
    <input soho-checkbox
      type="checkbox1"
      id="cb-newprod"
      (change)="toggleNewProduct(); checkModalFields();"
      name="checkbox1"
    />
    <label soho-label
      for="cb-newprod"
      [forCheckBox]="true">
        <span>Can't find your product on the list?</span>
    </label>
  </div>

  <div class="field" *ngIf="isNewProduct">
    <input type="text" id="mpo-product-input" name="product-input" placeholder="Product name" [value]="prodNewName" (input)="prodNewName = $event.target.value; checkModalFields();" data-validate="required" (change)="checkModalFields()" />
  </div>

  <div class="field"></div>
</div>

<div id="modal-validation" style="display: none;">
  <div class="field">
    <label>Product name is already existing.</label>
  </div>
</div>
