@media (max-width: 1279px) {
  .builder-actions {
    display: inline-block;
    width: calc(100% - 323px);
  }
  .builder-sidebar {
    display: inline-block;
  }
}

.ios-click-target {
  cursor: default;
}

.builder-sidebar-content {
   height: calc(100% - 0);
}

.cart-header.builder-sidebar-header {
  height: 160px;
  text-align: center;
}

.ui-viewer {
  background-color: #ffffff;
  height: 112px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 100%;
  border-radius: 2px;
}
.ui-viewer img, .ui-viewer p  {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.ui-viewer p {
  height: 18px;
}
.ui-icon-name {
  display: block;
  line-height: 45px;
}

.builder .main {
  width: 100%;
}
.builder-content {
  height: 100%;
}
.builder-actions-content {
  min-height: calc(100% - 75px);
}
.builder-sidebar-header::before {
  height: 0;
}

.ui-item {
  /*align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;*/
  height: auto;
  width: 110px;
  display: block;
  text-align: center;
  margin: 0 auto;
}
.ui-item p {
  padding-top: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  font-size: 1.2rem;
  width: 100%;
  text-align: center;
}

.ui-item img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

[class*="block-grid-"] {
  display: block;
  padding: 0;
  margin: 0 -0.625rem;
}

.small-block-grid-5 > li:nth-of-type(1n) {
  clear: none;
}

.small-block-grid-5 > li:nth-of-type(5n+1) {
  clear: both;
}

[class*="block-grid-"] > li {
  display: block;
  float: left;
  height: auto;
  padding: 0.625rem;
}

.small-block-grid-5 > li {
  list-style: none;
  width: 20%;
}

li {
  font-size: 14px;
}

li.icon-item a.is-active {
  background-color: rgba(200, 233, 244, 0.7);
  border: 1px #999999 solid;
  transition: background-color .4s ease-in-out;
}
li.icon-item a.is-selected {
  border: 2px solid #368ac0;
}
li.icon-item a {
  border-radius: 3px;
  color: #999;
  position: relative;
  padding-top: 30px;
}
li.icon-item a:hover {
  background-color: #d8d8d8;
  cursor: pointer;
}
li.icon-item a.is-active:focus,
li.icon-item a.is-active:active {
  border: 1px #368ac0 solid;
  outline: none;
}

li.icon-item .checkbox-label {
  position: absolute;
  top: 7px;
  right: 0;
}

.builder-actions-content div:after {
  clear: both;
  content: '';
  display: block;
}

.ui-list li {
  line-height: 0;
  padding-bottom: 15px;
}

.ui-format {
  text-transform: uppercase;
  margin: 0 5px 5px 0;
}
.ui-footer {
  text-align: center;
}
.ui-footer a {
  line-height: 32px;
}

.expandable-area:last-child .expandable-footer {
  border-bottom: none;
  padding-bottom: 0;
}

.expandable-area .expandable-footer {
  position: absolute;
  width: 100%;
  top: 5px;
  margin-bottom: 0;
  margin-top: 0;
}

.expandable-area {
  background-color: #134D71;
  min-height: 50px;
}

.expandable-area .btn-tertiary {
  color: #ffffff;
}

.expandable-area .toolbar {
  margin-bottom: 0;
  padding: 0 18px;
}

.expandable-area .expandable-pane {
  padding-top: 50px;
}

.expandable-area .expandable-pane > .content {
  padding: 25px 25px 0;
  max-height: 240px;
  overflow: hidden;
  overflow-y: scroll;
}

.expandable-footer .toolbar span {
  color: #ffffff;
  vertical-align: initial;
}

.icon-placeholder {
  display: inline-block;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 15px;
  position: relative;
  text-align: center;
  width: 71px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.icon-placeholder .icon-name-small {
  margin-bottom: 0 !important;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  font-size: 1.2rem;
  font-size: 12px;
}

.ui-close-btn {
  background: transparent url('./assets/close-button@16px.png') 0 0 no-repeat;
  width: 16px;
  height: 16px;
  position: absolute;
  top: -7px;
  right: -13px;
}
.width18 {
  width: 18px;
}
.width80 {
  width: 80px;
}

.modal-body .icon-placeholder {
  padding: 0;
}

.modal-body .icon-placeholder p {
  padding-top: 15px;
}

.tag-list {
  margin: 0 20px 0 20px;
}
.expandable-footer .toolbar .title {
  padding-left: 18px;
}
.nc {
  height: calc(100% - 76px);
}

#dropdown-list {
  width: 300px;
}

#product-popupmenu {
  width: 300px;
  max-height: 400px;
}

.searchfield-wrapper {
  margin-bottom: 0;
  width: 100%;
}

.size26 {
  width: 26px;
}

.size65 {
  width: 65px;
}

.size80 {
  width: 80px;
}

.empty-result {
  text-align: center;
}

.hbtn {
  background-color: #368AC0;
}

.header-wrapper h3 {
  display: inline-block;
  width: 50%;
}

.divider {
  padding-bottom: 5rem;
  margin-bottom: 5rem;
  border-bottom: 1px solid #ccc;
}

.tag-wrapper {
  text-align: center;
}

.ui-center {
  text-align: center;
}

.result-found {
  padding-bottom: 3rem;
}

.tag-wrapper span {
  margin-right: 5px;
}

.admin-icon-viewer {
  background-color: #ffffff;
  height: 150px;
  position: relative;
  text-align: center;
  width: 300px;
  border-radius: 2px;
}

.admin-icon-viewer img {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.admin-block-style {
  display: inline-block;
  vertical-align: top;
  padding: 20px 50px 20px 0px;
}

.admin-mini-block-style {
  display: inline-block;
  vertical-align: top;
  padding: 0px 30px 0px 0px;
}

.admin-border {
  border-width: 1px;
  border-bottom: 1px #BDBDBD solid;
  width: 100%;
  padding: 0px 0px 25px 0px;
  margin-bottom: 20px;
}
.admin-mini-line {
  position: absolute !important;
  display: block;
  width: 100%;
  min-width: 100% !important;
}
.limit-width {
  width: 400px;
}
.link-button {
  color: blue;
  text-decoration: underline;
  display: inline-block;
}
.link-button:disabled {
  color: gray;
  cursor: default;
}
.hidden-admin-border {
  display: none;
}